[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pytest = "*"
rembg = "*"
pillow = "*"

[dev-packages]
setuptools = "*"
pipenv = "*"
build = "*"
twine = "*"
